<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Email changed!</title>
	</head>
	<body>
		<h2>Hello{{#if user.firstname}} {{user.firstname}}{{/if}},</h2>
		<p>Your account email address has been changed to
			{{#if user.email}}{{user.email}}{{else}}this one{{/if}}.</p>
	</body>
</html>
