<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Reset your password</title>
	</head>
	<body>
		<h2>Hello{{#if user.firstname}} {{user.firstname}}{{/if}},</h2>
		<p>A password reset has been requested. Please click
			<a href='{{url}}'>this link</a>
			and follow the instructions in order to reset your password.</p>
		<p>It wasn't you? Then you can ignore this email.</p>
	</body>
</html>
