<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Welcome!</title>
	</head>
	<body>
		<h2>Hello{{#if user.firstname}} {{user.firstname}}{{/if}},</h2>
		<p>We have the pleasure to welcome you into our platform.</p>
	</body>
</html>
